@{Layout="_MovieLayout";}
<br>

    <h1 class="text-center text-white">About</h1>
<br>
<br>
    <div class="container">
        <div class="row">
<div class="col-lg-4 col-12 text-center "><img  class="joker" src="~/film/Source/img/joker.jfif" alt=""></div>

<div class="col-12 col-lg-4 text-center "><p class="text-white"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus odio hic doloremque impedit id nobis ullam laudantium quo blanditiis? Quia iste totam tempore, unde officiis beatae sit ipsam sed earum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis debitis repellendus ad laborum, repellat dicta nemo, soluta aliquid, voluptas cumque sed non qui asperiores aspernatur est magni nostrum nam laudantium?</p>

    <br>
    <br>
     <div class="text-center">
     <a href="/Home/Contact">   <button  class="reg-btn">Bizimle elaqe</button></a>
     </div>


</div>
<div class="col-12 col-lg-4 text-center"><img class="joker" style="width: 300px;" src="~/film/Source/img/MV5BYTExZTdhY2ItNGQ1YS00NjJlLWIxMjYtZTI1MzNlMzY0OTk4XkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg" alt=""></div>

        </div>
    </div>
    <br>
    <br>